<!-- /templates/search.liquid -->
{% comment %}

  To return only products or pages in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}

{% comment %}
  Avoid accessing search.results before the opening paginate tag.
  If you do, the pagination of results will be broken.
{% endcomment %}
{% paginate search.results by 12 %}

  <div class="grid" data-section-type="search">
    <div class="grid__item">
      <header class="section-header text-center">
        {% if search.performed %}
          {% if search.results_count == 0 %}
            <h1 class="text-center">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
          {% else %}
            <h1 class="text-center">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
          {% endif %}
        {% else %}
          <h1 class="text-center">{{ 'general.search.title' | t }}</h1>
        {% endif %}
        <hr class="hr--small">
      </header>
     
      {% include 'search-bar', search_btn_style: 'btn', search_bar_location: 'search-bar--page' %}

      {% if search.performed %}
      {% include 'popup' %}


<!--   -->
<!-- start of filters with tags -->
<div class="custom--flex-wrap">
  <div class="custom--flex-column">
    <h6  style="font-size: x-small;">Filter Products by</h6>
          <div class="custom-filter-row custom-collapsible-menu">
            <input onclick="doSomething('color-filter-menu')" type="checkbox" id="color-filter-menu">
              <label for="color-filter-menu">Color <i class="fa fa-angle-down"></i></label>
                <div class="custom-menu-content">
                    <ul class="subnav clearfix" id="color">
                    
                    {% for product in search.results %}  
                       {% for tag in product.tags %}
            
                             {% if tag contains "color-"%} 
                
                                  <li class="active" onclick="filterBy(event)">
                                    {{ tag | remove: "color-" }}
                                  </li>
                              {% endif %} 
                          {% endfor %}
                  
                      {% endfor %}
                    
                  </ul>
                </div>
           </div>
           <div class="custom-filter-row custom-collapsible-menu">
            <input onclick="doSomething('material-filter-menu')" type="checkbox" id="material-filter-menu">
              <label for="material-filter-menu">Material <i class="fa fa-angle-down"></i></label>
                <div class="custom-menu-content">
                    <ul class="subnav clearfix" id="material">
                    
                    {% for product in search.results %}  
                       {% for tag in product.tags %}
            
                             {% if tag contains "material-"%} 
                
                                  <li class="active" onclick="filterBy(event)">
                                    {{ tag | remove: "material-"  }}
                                  </li>
                              {% endif %} 
                          {% endfor %}
                  
                      {% endfor %}
                    
                  </ul>
                </div>
           </div>
           <div class="custom-filter-row custom-collapsible-menu">
            <input onclick="doSomething('clasp-filter-menu')" type="checkbox" id="clasp-filter-menu">
              <label for="clasp-filter-menu">Closure type <i class="fa fa-angle-down"></i></label>
                <div class="custom-menu-content">
                    <ul class="subnav clearfix" id="clasp">
                    
                    {% for product in search.results %}  
                       {% for tag in product.tags %}
            
                             {% if tag contains "clasp-"%} 
                
                                  <li class="active"  onclick="filterBy(event)">
                                    {{ tag | remove: "clasp-" }}
                                  </li>
                              {% endif %} 
                          {% endfor %}
                  
                      {% endfor %}
                    
                  </ul>
                </div>
           </div>
           <div class="custom-filter-row custom-collapsible-menu">
            <input onclick="doSomething('penmat-filter-menu')" type="checkbox" id="penmat-filter-menu">
              <label for="penmat-filter-menu">Pendant Material <i class="fa fa-angle-down"></i></label>
              <div class="custom-menu-content">
              <ul class="subnav clearfix" id="pen-mat">
                {% for product in search.results %}  
                {% for tag in product.tags %}
     
                      {% if tag contains "pen-mat-"%} 
         
                           <li class="active"  onclick="filterBy(event)">
                             {{ tag | remove: "pen-mat-" }}
                           </li>
                       {% endif %} 
                   {% endfor %}
           
               {% endfor %}
              </ul>
            </div>
          </div>
    
          <div class="custom-filter-row custom-collapsible-menu">
            <input onclick="doSomething('category-filter-menu')" type="checkbox" id="category-filter-menu">
              <label for="category-filter-menu">Category <i class="fa fa-angle-down"></i></label>
              <div class="custom-menu-content">
              <ul class="subnav clearfix" id="category">
                {% for product in search.results %}  
                {% for tag in product.tags %}
     
                      {% if tag contains "category-"%} 
         
                           <li class="active"  onclick="filterBy(event)">
                             {{ tag | remove: "category-" }}
                           </li>
                       {% endif %} 
                   {% endfor %}
           
               {% endfor %}
              </ul>
            </div>
          </div>
    
          <div class="custom-filter-row custom-collapsible-menu">
            <input onclick="doSomething('size-filter-menu')" type="checkbox" id="size-filter-menu">
              <label for="size-filter-menu">Size <i class="fa fa-angle-down"></i></label>
              <div class="custom-menu-content">
              <ul class="subnav clearfix" id="size">
                {% for product in search.results %}  
                {% for tag in product.tags %}
     
                      {% if tag contains "size-"%} 
         
                           <li class="active"  onclick="filterBy(event)">
                             {{ tag | remove: "size-" }}
                           </li>
                       {% endif %} 
                   {% endfor %}
           
               {% endfor %}
              </ul>
            </div>
          </div>
<style>
  /* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
  .clearfix {
    zoom: 1;
  }
  /* Subnavigation styles */
  .subnav {
    clear: both;
    list-style-type: none;
    padding: 0;
  }
  .subnav li {
    display: block;
    float: left;
  }
  .subnav li {
    cursor: pointer;
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 0 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #eee;
    margin: 0 7px 7px 0;
    color: #666;
  }
  .subnav li:hover{
    background: #666;
    color: #fff;
  }
</style>
</div>
<!-- end of filters with tags -->


      <hr class="hr--medium hr--clear">
        <div class="grid-uniform">
          {% for item in search.results %}
            {% if item.object_type == 'product' %}
              {% assign product = item %}
              
              {% include 'custom-search-filter-product' %}

              {% else %}
              <div class="grid__item grid-search large--one-third medium--one-half">
                <div class="grid-search__page">
                  <a href="{{ item.url }}" class="grid-search__page-link">
                    <span class="grid-search__page-content">
                      <span class="h4 text-center">{{ item.title }}</span>
                      {{ item.content | strip_html | truncatewords: 60 }}
                    </span>
                  </a>
                </div>
              </div>
            {% endif %}

          {% endfor %}
        </div>
      </div>

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}

      {% endif %}

    </div>
  </div>

{% endpaginate %}
<script>
  let filterArray = ['color', 'material', 'clasp', 'pen-mat','category', 'size' ]
  let allHiddenFilterDivs = document.getElementsByClassName("hidden-filter")
  let activeFilterClass = document.getElementsByClassName("active")
  let tagsFilterDiv = document.getElementsByClassName("grid-product__wrapper")
  let customFilterRow = document.getElementsByClassName("custom-filter-row")
  let resultsContainer = document.getElementsByClassName("grid-uniform")[0]
  let savedResults = resultsContainer.cloneNode(true); //this is a backup of the original search results
  let _filterByArray = []; //This array is the clicked on tags

  function filterBy(event){
    event.preventDefault();
    if(_filterByArray.includes(event.target.innerText)){
      _filterByArray = _filterByArray.filter(el=> el !== event.target.innerText)
      let checkedTags = checkedFilterArray(_filterByArray)
      hideTaggedElements(resultsContainer, checkedTags)
      updateActiveFilter(activeFilterClass, [... new Set(_filterByArray) ]);
    }
    else{
      _filterByArray.push(event.target.innerText);
      let checkedTags = checkedFilterArray([... new Set(_filterByArray) ]) //remove duplicate tags
      hideTaggedElements(resultsContainer, checkedTags)
      updateActiveFilter(activeFilterClass, [... new Set(_filterByArray) ]);
    }
  }
//This colors selected tags
  function updateActiveFilter(tags, selectedTags){
    console.log(tags)
    console.log(selectedTags)
   //work on this to make clicked on tag change color
   
  }
//This finds the hidden divs attached to a product/search result and returns an array of matching products based on filterBy
  const checkedFilterArray=(filterByArray)=>{
      let _filterSelectionElements = []; //this array is the matching elements of clicked tags
      let tagsArray = [...allHiddenFilterDivs] 
      let selectedTags = [...filterByArray]
      for (let i = 0; i < tagsArray.length; i++) {
        for (let j=0; j< selectedTags.length; j++){
          if(tagsArray[i].innerText.includes( selectedTags[j] ) ){
            _filterSelectionElements.push(tagsArray[i].parentElement.parentElement)
         }
        }
      }
      return removeDuplicates(_filterSelectionElements, item => item.innerText);
  }

  function hideTaggedElements(container, newElements){
    let allResults = Array.from(container.childNodes)
    let count = 0;
    allResults = allResults.filter(elem=> elem.className == "grid__item grid-product large--one-third medium--one-half" )
    allResults.forEach(elem => {
      elem.style.display = 'none'
    })
    allResults.forEach(element => { 
      for(let i=0; i< newElements.length; i++){
        if(newElements[i].innerHTML == element.innerHTML){
          element.style.display = 'block'
          count += 1
      }}
    })
    if(count < 1){
        allResults.forEach(elem => {
         elem.style.display = 'block'
        })
      }
  }

  
  function removeDuplicates(data, key) {
          return [
            ...new Map(data.map(item => [key(item), item])).values()
          ]
        };

  const createSingleUseTags = (filterType)=>{
    let filterTagArray = []
    let locationOnDom = document.getElementById(`${filterType}`)
      for(item of locationOnDom.children){
            if(item.localName === 'li'){
              filterTagArray.push(item)
            }
         }
    let filterTagsList = removeDuplicates(filterTagArray, item => item.innerText);
    locationOnDom.innerHTML = ''
    for (let i = 0; i < filterTagsList.length; i++) {
      locationOnDom.appendChild(filterTagsList[i])  
    }
  }
//Creates the tags selectors in sidebar, preventing duplicates
  for (let index = 0; index < filterArray.length; index++) {
    createSingleUseTags(filterArray[index]); 
  }



  function doSomething(id){
    let rightArrowIcon = `<i class="fa fa-angle-right"></i>`
    let downArrowIcon = `<i class="fa fa-angle-down"></i>`
    let filters = document.getElementById(id)
    let label = filters.nextElementSibling.innerHTML
    if(label.includes(downArrowIcon)){
      label = label.replace(downArrowIcon, rightArrowIcon)
      filters.nextElementSibling.innerHTML = label
    }
    else if(label.includes(rightArrowIcon)){
      label = label.replace(rightArrowIcon, downArrowIcon)
      filters.nextElementSibling.innerHTML = label
    }
  }          
  
</script>
